<!DOCTYPE html>
<html>
<head>
  <title>Soundflakes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"></link>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>

  <style>
    #myCanvas {
      height: 100vh;
      width: 100vw;
    }
  </style>
  
</head>
<body>
  <header id="header">
    <div id="logo">
      <h1>Soundflakes</h1>
    </div>

<!--     <nav id="global-nav">
        <ul>
        <a href=""><li>Home</li></a>
        <a href=""><li>Gallery</li></a>
        <a href=""><li>Stupid Link</li></a>
        <%= link_to(soundcloud_path) do %>
          <li>Soundcloud Login</li>
        <% end %>
      </ul>
    </nav> -->

    <div id="searchForm">
    </div>
  </header>

	<%= yield %>
  
  <footer>
  </footer>
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.24/paper-full.min.js"></script>
</body>
</html>
